<div class="col-md-7"></div>
<div class="col-md-5">
	<% if @ballot.has_support? && @ballot.votable %>
		<%= form_for :vote, url: ballot_votes_path(@ballot) do |f| %>
			<% @radio.each do |option| %>
				<%= radio_button_tag(:user_vote, "#{option.strip}") %>
				<%= label_tag(:option, "#{option.strip}") %><br>
	<% end %>
				<%= radio_button_tag(:user_vote, "Stand Aside") %>
				<%= label_tag(:option, "Stand Aside") %><br>
	<br>
				<%= f.label :comment %> <br>
			<%= f.text_field :comment, :class => 'form-control', :size => "50" %> <br>
	<%= f.submit "Cast Vote"%>
<% end %>
	<% elsif !@ballot.has_support? && @ballot.votable %>
		<%= link_to "Support this ballot?!?!?", support_path(:ballot_id => "#{@ballot.id}"), :method => :post, :class => "btn btn-info" %>
	<% else %>
		<p> Ballot Closed </p>
<%end %>
</div>