.col-md-7
.col-md-5
  - if @ballot.has_support? && @ballot.votable
    = form_for :vote, url: ballot_votes_path(@ballot) do |f|
      - @radio.each do |option|
        .form-check
          = radio_button_tag(:user_vote, "#{option.strip}"), class: "form-check-input"
          = label_tag(:option, "#{option.strip}"), {:for => "user_vote_#{option.strip}", class: "form-check-label pl-0"}
      = radio_button_tag(:user_vote, "Stand Aside")
      = label_tag(:option, "Stand Aside")
      = f.label :comment
      = f.text_field :comment, :class => 'form-control', :size => "50"
      = f.submit "Cast Vote"
  - elsif !@ballot.has_support? && @ballot.votable
    = link_to "Support this ballot?!?!?", support_path(:ballot_id => "#{@ballot.id}"), :method => :post, :class => "btn btn-info"
  - else
    %p Ballot Closed
