
<h1> Ballots </h1>
	<table class="table table-bordered table-striped">
		<tr>
			<th>Ballot Author</td>
			<th>Issue</td>
			<th>Transparency</th>
			<th>Created At</th>
			<th>Active?</td>
		</tr>
	<% @ballots.each do |ballot| %>
		<tr>
			<td><%=ballot.user.username %></td>
			<td><%=link_to "#{ballot.ballot_issue}", ballot_path(ballot) %></td>
			<td><%=ballot.ballot_type %></td>
			<td><%=ballot.created_at.to_formatted_s %></td>
			<% if ballot.all_expiration_requirements_met? %>
				<td>Expired</td>
			<% elsif ballot.expired?%>
				<td> Expired but awaiting Votes</td>
			<% else %>
				<td> Active </td>
			<% end %>
		</tr>
	<% end %>
	</table>
		<%=link_to "New Ballot", new_ballot_path, :class => "btn btn-primary" %>
</div>
<% if current_user_is_admin %>
	<h2> List of ballots awaiting votes </h2>
	<ul>
		<%= render partial: "ballots/pending_users", collection: @open_ballots, as: :open_ballot %>
	<ul>
<% end %>

<!-- Button trigger modal -->


