
<h1> Ballots </h1>
<table class="table table-bordered table-striped">
	<tr>
		<th>Ballot Author</td>
		<th>Issue</td>
		<th>Transparency</th>
		<th>Created At</th>
		<th>Active?</td>
	</tr>
<% @ballots.each do |ballot| %>
	<tr>
		<td><%=ballot.user.username %></td>
		<td><%=link_to "#{ballot.ballot_issue}", ballot_path(ballot) %></td>
		<td><%=ballot.ballot_type %></td>
		<td><%=ballot.created_at.to_formatted_s %></td>
		<% if ballot.all_expiration_requirements_met? %>
			<td>Expired</td>
		<% elsif ballot.expired?%>
			<td> Expired but awaiting Votes</td>
		<% else %>
			<td> Active </td>
		<% end %>
	</tr>
<% end %>
</table>
</div>

<% if current_user_is_admin %>
	<table class="table table-bordered table-striped">
		<tr>
			<th>Pending Ballots</td>
		</tr>
	<% @open_ballots.each do |ballot| %>
		<tr>
			<td><%=link_to "#{ballot.ballot_issue}", pending_path(ballot)%></td>
		</tr>
	<% end %>
	</table>
<% end %>