
<h1> Ballots </h1>
<table class="table table-bordered table-striped">
	<tr>
		<th>Ballot Author</td>
		<th>Issue</td>
		<th>Transparency</th>
		<th>Created At</th>
		<th>Active?</td>
	</tr>
<% @ballots.each do |ballot| %>
	<tr>
		<% if ballot.user %>
			<td class="bg-light"><%=ballot.user.username %></td>
		<% else %>
			<td class="bg-light">User Deleted</td>
		<% end %>
		<td class="bg-light"><%=link_to "#{ballot.ballot_issue}", ballot_path(ballot) %></td>
		<td class="bg-light"><%=ballot.ballot_type %></td>
		<td class="bg-light"><%=ballot.created_at%></td>
		<% if ballot.votable == false %>
		 <td class="bg-info"> Ballot Closed </td>
		<% elsif ballot.all_expiration_requirements_met? %>
			<td class="bg-warning">Ready to be Closed</td>
		<% elsif ballot.expired? && ballot.votable %>
			<td class="bg-danger"> Expired but awaiting Votes</td>
		<% else %>
			<td class="bg-success"> Active </td>
		<% end %>
	</tr>
<% end %>
</table>
</div>

<% if current_user_is_admin %>
	<table class="table table-bordered table-striped">
		<tr>
			<th>Pending Ballots</td>
		</tr>
	<% @open_ballots.each do |ballot| %>
		<tr>
			<td><%=link_to "#{ballot.ballot_issue}", pending_path(ballot)%></td>
		</tr>
	<% end %>
	</table>
<% end %>