<h1> Add Ballot </h1>
<%= form_for :ballot, url:ballots_path do |f| %>
	<% if @ballot.errors.any? %>
		<% @ballot.errors.full_messages.each do |error| %>
			<div class="alert alert-danger"><%=error %> </div>
		<% end %>
	<% end %>

	<p>
		<%= f.label :ballot_issue %> <br>
		<%= f.text_field :ballot_issue, :class => 'form-control' %> <br>
		<%= f.label :content %> <br>
		<%= f.text_area :content, :class => 'form-control' %> <br>
		<%= f.label :options, "Options (Please separate with commas)" %> <br>
		<%= f.text_field :options, :class => 'form-control' %>
		<%= f.label :ballot_type %>
		<%= f.select :ballot_type, options_for_select(["Public", "Private"]) %><br>
		<%= f.label :will_ballot_duration_include_weekends %>
		<%= f.select :include_weekend, [['Yes', true],["No", false]] %>
	</p>

	<p>
		<%= f.submit :class => "btn btn-primary" %>
	</p>
<% end %>