<div class="container">
	<div class="row">
		<h1 class="col-md-5"><%= "#{@ballot.ballot_issue}" %></h1>
		<div class="col-md-7"></div>
	</div>
	<div class="row">
		<% if @ballot.user %>
			<h2 class="col-md-5">Proposed by: <%= "#{@ballot.user.username}"%></h2>
		<% else %>
			<h2 class="col-md-5">Proposed by: User Deleted</h2>
		<% end %>
		<h2 class="col-md-5">Transparency: <%="#{@ballot.ballot_type}"%></h2>
		<div class="col-md-5"></div>
	</div>
	<div class="row">
		<p class="col-md-12"><%="#{@ballot.support}"%></p>
	</div>
	<div class="row">
		<p class="col-md-5 border border-dark rounded"><%= @ballot.content.gsub(/\n/, '<br />').html_safe %></p>
		<div class="col-md-7"><%= render partial: "support_or_vote" %></div>
	</div>
	<% if current_user == @ballot.user || current_user_is_admin %>
	<div class="row">
		<div class="col-md-2"><%= link_to 'Send Reminder', send_reminder_path(@ballot), :class => "btn btn-primary" %></div>
		<div class="col-md-2"><%= link_to 'Close', close_path(@ballot), :class => "btn btn-primary" %></div>
		<div class="col-md-2"><%= link_to 'Delete', @ballot, method: :delete, :class => "btn btn-danger"%></div>
		<div class="col-md-6"></div>
	</div><br>
	<% end %>
	<div class="row">
		<div class="col-md-2">Vote Results:</div>
		<div class="col-md-10">
			<ul>
			<% @results.each do |key, value| %>
				<li><%= "#{key}: #{value}" %></li>
			<% end %>
			</ul>
		</div><br>
</div>
	<div>
		<% if (current_user_is_admin && !@ballot.votable) || @ballot.ballot_type == "Public"%>
			<%= render partial: "public", object: @ballot %>
		<% elsif @ballot.ballot_type == "Private"%>
			<%= render partial: "private", object: @ballot %>
		<% end %>
	</div><br>