<h1> Change Password </h1>
<%= form_for @user, url: change_password_path do |f| %>
	<% if @user.errors.any? %>
		<% @user.errors.full_messages.each do |error| %>
			<div class="alert alert-danger"><%=error %> </div>
		<% end %>
	<% end %>
		<p>
			<%= f.label :password %> <br>
			<%= f.text_field :password, :class => 'form-control' %> <br>
		</p>
		<p>
			<%= f.submit :class => "btn btn-primary" %>
		</p>
<% end %>