<h1> Edit User </h1>
<%= form_for :user, url:user_path do |f| %>
	<% if @user.errors.any? %>
		<% @user.errors.full_messages.each do |error| %>
			<div class="alert alert-danger"><%=error %> </div>
		<% end %>
	<% end %>

	<p>
		<%= f.label :membership_status %>
		<%= f.select :membership, options_for_select(["A", "B"]) %><br>
	</p>
	<p>
		<%= f.label :admin? %>
		<%= f.select :admin, [['Yes', true],["No", false]]  %><br>
	</p>
		<%= f.submit :class => "btn btn-primary" %>
	</p>
<% end %>