<h1> Register </h1>
<%= form_for :user, url:users_path do |f| %>
	<% if @user.errors.any? %>
		<% @user.errors.full_messages.each do |error| %>
			<div class="alert alert-danger"><%=error %> </div>
		<% end %>
	<% end %>

	<p>
		<%= f.label :name %> <br>
		<%= f.text_field :username, :class => 'form-control' %> <br>
	</p>

	<p>
		<%= f.label :email %> <br>
		<%= f.text_field :email, :class => 'form-control' %> <br>
	</p>

	<p>
		<%= f.label :password %> <br>
		<%= f.text_field :password, :class => 'form-control' %> <br>
	</p>
	<p>
		<%= f.submit :class => "btn btn-primary" %>
	</p>
<% end %>